.verticalCenter{
    min-height: 100%;   /* Fallback for browsers do NOT support vh unit */
    max-height: 100vh; /* These two lines are counted as one :-)       */
  }

.bonfire-logo-heading{
    padding-top: 280px;
    padding-left: 80px;
    align-items: center !important;
    
}

.bonfire-logo-title{
    padding-left: 85px;
    text-align: center !important;
    color: #791010;
}

.heading-description{
    text-align: center;
    padding-top: 15px;
    padding-left: 18px;
    margin-left: 55px;
    padding-bottom: 10px;
    line-height: 15px;
    color: #791010;
}

.africa-map{
    align-items: center !important;
}

.africa-pic{
    height: 480px;
    width: 480px;
    margin-top: 210px;
    margin-left: 180px;
    background-color: transparent;
}

.two-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 65px !important;

}

.login-button{
    background-color: #CE0000 !important;
}

.signup-button{
    margin-left: 15px !important;
    background-color: #CE0000 !important;
}

Link{
    text-decoration: none !important;
}
