.maps-page{
    display: grid;
    grid-template-columns: auto 1fr;
}

.recommend-button{
    background-color: #CE0000 !important;
    border-radius: 4px;
    text-align: center;
    width: 110px;
}

.div-recommend-button{
text-align: center;
margin-top: 1020px;
}