.match-header{
    border-radius: 4px;
    width: 100%;
    margin-top: 0 !important;
    align-self: center;
    justify-content: center !important;
    background-color: #CE0000 !important;
}

.match-grid{
    display:grid;
    grid-template-columns: 2fr 2fr;
    margin: 0 !important;
}

.array-paragraphs{
    text-align: center !important;
    font-size: 13px;
    align-items: center;
}

.learn-match{
    text-align: center;
    margin-right: 10px;
}

.teach-match{
    text-align: center;
    margin-right: 10px;
}
.two-buttons-match{
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-left: 25px !important; */
}

.match-buttons{
    background-color: #CE0000 !important;
}
